*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: Arial, sans-serif;
  background-color: #1e282c;
  color: rgba(255,255,255,.9);
}

ul
{
  list-style-type: none;
}

a
{
  color: rgba(255,255,255,.9);
  text-decoration: none;
}

p
{
  padding: 1rem 0;
}

img
{
  max-width: 100%;
}

.btn
{
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #ffc107;
  border-radius: 3px;
  color: #1e282c;
}

.btn:hover
{
  opacity: 0.8;
}

.btn--xl
{
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.btn--lg
{
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.text--lg
{
  margin-bottom: 1rem;
  font-size: 2rem;
  /* line-height: 1.4; */
}

.text--md
{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.showcase
{
  height: 90vh;
  position: relative;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.showcase::after
{
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 40, 44, 0.6);
}

.showcase__head
{
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase__image
{
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase__link
{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase__content
{
  position: relative;
  z-index: 2;
  margin: 0;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase__heading
{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}

.showcase__promo
{
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.tabs
{
  background-color: #171f22;
  padding-top: 2rem;
  border-bottom: 1px solid #ffc107;
}

.tabs__container
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab-item
{
  padding: 2rem 0;
}

.tab-info
{
  padding-top: 1rem;
  font-size: 1.5rem;
}

.tab-item--active
{
  border-bottom: 4px solid #00bcd4;
}

.container{
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.tab-content
{
  padding: 3rem 0;
}

#tab-1-content,
#tab-2-content,
#tab-3-content
{
  display: none;
}

.tab-content__item--show
{
  display: block !important;
}

.tab-1-content__inner
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.tab-2-content__offer
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.tab-2-content__details
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.table
{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

tbody tr:nth-child(odd)
{
  background-color: #222;
}

th
{
  text-transform: uppercase;
  padding: 1rem;
}

td
{
  padding: 1rem;
}

td:first-child
{
  text-align: left;
}

.footer
{
  background-color: #171f22;
}

.footer-contact
{
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.footer-cols
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

li
{
  line-height: 2;
}

@media (max-width: 960px)
{
  .showcase
  {
    height: 70vh;;
  }

  .showcase__image
  {
    top: 30%;
    left: 10%;
    transform: translate(0);
  }

  .showcase__content
  {
    margin-top: 1rem;
  }

  .showcase__heading
  {
    font-size: 3rem;
  }

  .showcase__promo
  {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .tab-info
  {
    display: none;
  }

  .footer-cols
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn--xl
  {
    font-size: 1.5rem
  }

  .btn--lg
  {
    font-size: 1rem;
  }

  .text--md
  {
    /* font-size: 1.3rem; */
  }

}

@media (max-width: 700px)
{
  .container
  {
    max-width: 90%;
    padding: 0 0.5rem;
  }

  .tab-1-content__inner
  {
    grid-template-columns: 1fr;
  }

  .tab-2-content__offer
  {
    display: block;
  }

  .tab-2-content__details
  {
    grid-template-columns: 1fr;
  }
}